@page {
    size: 16in 9in;
    margin: 0;
  }
#points, #interface {
    display: none;
}

.slide{
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    bottom: 0;
    right: 0;
    width: 16in;
    height: 9in;
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
}

body {
    overflow: visible;
}
#slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}