
#slider {
    perspective: 1000px;
}
/*=============== ↑ Bottom to top ↑ ===============*/

.ibottom {
    top: 0;
    left: 0;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    -o-transform: translate(0,100%);
    transform: translate(0,100%);
}

.otop.prev {    
    -webkit-transform: translate(0, -20%);
    -ms-transform: translate(0, -20%);
    -o-transform: translate(0, -20%);
    transform: translate(0, -20%);
}

/*=============== ← Right to Left ← ==============*/

.iright {
    top: 0;
    left: 0;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

.oleft.prev {
    -webkit-transform: translate(-20%, 0);
    -ms-transform: translate(-20%, 0);
    -o-transform: translate(-20%, 0);
    transform: translate(-20%, 0);
}

/*=============== ↓ Top to bottom ↓ ==============*/

.itop {
    top: 0;
    left: 0;
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

.obottom.prev {
    -webkit-transform: translate(0, 20%);
    -ms-transform: translate(0, 20%);
    -o-transform: translate(0, 20%);
    transform: translate(0, 20%);
}

/*=============== → Left To Right → ==============*/

.ileft {
    top: 0;
    left: 0;
    -webkit-transform: translate(-100%,0);
    -ms-transform: translate(-100%,0);
    -o-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

.oright.prev {
    -webkit-transform: translate(20%, 0);
    -ms-transform: translate(20%, 0);
    -o-transform: translate(20%, 0);
    transform: translate(20%, 0);
}


/*=============== Fade ==============*/
.ifade, .ofade.prev {
    opacity: 0;
}



/*=============== All ==============*/

.slide.current {
    opacity: 1;
    -webkit-transform: translate(0,0) rotateY(0);
    -ms-transform: translate(0,0) rotateY(0);
    -o-transform: translate(0,0) rotateY(0);
    transform: translate(0,0) rotateY(0);
}


/* ====== Fonction de masquage =======*/

.slide.hidden {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}