
.slidecontent {
    position: absolute;
    text-align: center;
    left: 15%;
    width: 70%;
    top: 30%;
    font-size: 110%;
    color: #fff;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

/*--- Slide 1 ---*/
#cslide11 {
    top: 10%;
}

/*--- Slide 2 ---*/
#cslide21 {
    top: 15%;
}
#cslide22 {
    -webkit-transform: translateY(-30vh);
    -ms-transform: translateY(-30vh);
    -o-transform: translateY(-30vh);
    transform: translateY(-30vh);
}
#cslide23 {
    -webkit-transform: translateY(80vh);
    -ms-transform: translateY(80vh);
    -o-transform: translateY(80vh);
    transform: translateY(80vh);
}
#cslide22.current, #cslide23.current {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}