@font-face {
    font-family: 'Nexa';
    src: url('NexaLight.woff2') format('woff2'),
        url('NexaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('NexaBold.woff2') format('woff2'),
        url('NexaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

