
.slidecontent {
    position: absolute;
    text-align: center;
    left: 15%;
    width: 70%;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#home {
    background: url(../images/colorjs.jpg) center center;
    background-size: cover;
}
code {
    color: #1c1c1c;
    background-color: #e6e6e6;
    font-family: monospace sans-serif;
    padding: 4px;
    border-radius: 3px;
    margin: 2px;
}